:root{
    --primary-color: #91b9e7
}

a{
    all:unset
}

.primary-color{
    color: var(--primary-color) !important;
}

.btn-primary{
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.my-navbar{
    height: 70px;
}


#mainNav .navbar-toggler{
    background-color: var(--primary-color);
}

.text-primary{
    color: var(--primary-color) !important;
}

.nav-link{
    color:#000000 !important;
}

.navbar-nav .nav-item .nav-link:hover{
    color: var(--primary-color) !important;
    cursor: pointer;
}

.banner-heading{
    text-align: center;
    font-size: 100px;
    font-weight:100;
    font-style:normal
}

.banner-btn{
    color: #555;
    height: 35px;
    width: 35%;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    cursor: pointer;
    text-decoration: none;
    padding: 7px 11px;
    background-color: transparent;
    border: 2px solid #555;
    border-radius: 5px;
}

.banner-btn:hover{
    background-color: #555;
    color: white !important;
}

.follow-btn{
    background-color: transparent;
    border: 2px solid #50485B;
}

.media-btn{
    background-color: transparent;
    border: 2px solid;
    border-radius: 15px;
    margin: 20px 10px;
}

.spotify-btn{
    color: #6AB165;
    border: 2px solid #6AB165;
}

.spotify-btn:hover{
    color:#fff;
    background-color: #6AB165;
    cursor: pointer;
}

.apple-btn{
    color: #555555;
    border: 2px solid #555555;
}

.apple-btn:hover{
    color:#fff;
    background-color: #555555;
    cursor: pointer;
}

.insta-btn{
    color: #8D6DC4;
    border: 2px solid #8D6DC4;
}

.insta-btn:hover{
    color:#fff;
    background-color: #8D6DC4;
    cursor: pointer;
}

.youtube-btn{
    color: #FF675B;
    border: 2px solid #FF675B;
}

.youtube-btn:hover{
    color:#fff;
    background-color: #FF675B;
    cursor: pointer;
}

.masthead{
    filter: opacity(.8);
}


