:root{
    --primary-color: #91b9e7
}

a{
    all:unset
}

.primary-color{
    color: var(--primary-color) !important;
}

.btn-primary{
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.my-navbar{
    height: 70px;
}


#mainNav .navbar-toggler{
    background-color: var(--primary-color);
}

.text-primary{
    color: var(--primary-color) !important;
}

.nav-link{
    color:#000000 !important;
}

.navbar-nav .nav-item .nav-link:hover{
    color: var(--primary-color) !important;
}

.banner-heading{
    text-align: center;
    font-size: 100px;
    font-weight:100;
    font-style:normal
}

.banner-btn{
    color: #555;
    height: 35px;
    width: 35%;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    cursor: pointer;
    text-decoration: none;
    padding: 7px 11px;
    background-color: transparent;
    border: 2px solid #555;
    border-radius: 5px;
}

.banner-btn:hover{
    background-color: #555;
    color: white !important;
}

